<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrame">
		<title>Scan Analitics</title>
		<size>626,293</size>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<size>616,61</size>
					<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBox1" member="yes">
						<pos>8,8</pos>
						<size>208,24</size>
						<style>wxCB_READONLY|wxCB_DROPDOWN</style>
						<handler function="OnComboBox1Select" entry="EVT_COMBOBOX" />
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>616,331</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>Файл</label>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem5" member="yes">
					<label>Настройки...</label>
					<handler function="OnSettingsClick" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_QUIT" variable="MenuItem1" member="no">
					<label>Выход</label>
					<accel>Alt-F4</accel>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Вид</label>
				<object class="wxMenu" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
					<label>Карты</label>
					<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem4" member="yes">
						<label>Карта</label>
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Помощь</label>
				<object class="wxMenuItem" name="ID_MENU_ABOUT" variable="MenuItem2" member="no">
					<label>О программе...</label>
					<accel>F1</accel>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<object class="tool" name="ID_ZOOMIN" variable="ToolBarItem1" member="yes">
				<label>ZoomIn</label>
				<bitmap>images/zoom-in-32.png</bitmap>
				<tooltip>Увеличить</tooltip>
				<handler function="OnZoomInButtonClick" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_ZOOMOUT" variable="ToolBarItem2" member="yes">
				<label>ZoomOut</label>
				<bitmap>images/zoom-out-32.png</bitmap>
				<tooltip>Уменьшить</tooltip>
				<handler function="OnZoomOutButtonClick" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_GPSTRACKER" variable="ToolBarItem3" member="yes">
				<label>GpsTracker</label>
				<bitmap>images/gps_tracker.png</bitmap>
				<tooltip>Gps</tooltip>
				<handler function="OnGpsTrackerClick" entry="EVT_TOOL" />
				<check>1</check>
			</object>
			<object class="tool" name="ID_GPSANCHOR" variable="ToolBarItem4" member="yes">
				<label>GpsAnchor</label>
				<bitmap>images/knotes.png</bitmap>
				<tooltip>Следить за Gps</tooltip>
				<handler function="OnGpsAnchorClick" entry="EVT_TOOL" />
				<check>1</check>
			</object>
			<object class="separator" />
			<object class="tool" name="ID_WIFISCAN" variable="ToolBarItem5" member="yes">
				<label>WiFiScan</label>
				<bitmap>images/wifi.png</bitmap>
				<tooltip>WiFi</tooltip>
				<handler function="OnWiFiScanButtonClicked" entry="EVT_TOOL" />
				<check>1</check>
			</object>
			<object class="tool" name="ID_WIFIANCHOR" variable="ToolBarItem6" member="yes">
				<label>WiFiAnchor</label>
				<bitmap>images/knotes.png</bitmap>
				<tooltip>Следить за WiFi</tooltip>
				<handler function="OnWiFiAnchorClick" entry="EVT_TOOL" />
				<check>1</check>
			</object>
		</object>
	</object>
</wxsmith>
